*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #222222;
  background-image: url("../../static/icons/tlo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  overflow-x: hidden;
}

body,
input,
button {
  font-family: "Muli", sans-serif, -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Helvetica, sans-serif;
  outline: none;
}
.header {
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

  }
.header_logo {
    display: inline-block;
    width: 50%;
    text-align: left;
    float: left;
}
.header_context {
    margin-top: 4vh;
    position: relative;
    height: 5vh;
   width: 50%;
   display: inline-block;
   float: left;
    text-align: right;
    text-decoration: none;
    margin-left: 5vh;
 }
.header_context a {

    background-color: rgba(38,179,251,0.8);
    padding: 3vh 6vh;
    border-radius: 2vh;
    text-align: center;
    text-decoration: none;
    color: inherit;
    margin-right: 4vh;


}
.logo {
    width: 100px;
    height: auto;
    margin-left: 20px; /* Dodane odstępy dla logo */
  }
.account-links {
    margin-right: 20px; /* Dodane odstępy dla linków do konta */
  }
.account-links a {
    color: #fff; /* Zmiana koloru linków */
    text-decoration: none; /* Usunięcie podkreślenia */
    margin-left: 10px; /* Dodane odstępy między linkami */
  }
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
.section {
    position: absolute;
    top: 14vh;
    left:15vh;

    width: 80%;
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    border-radius: 5vh;
  }
.submit {
    background-color: #26b3fb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 13vh;
    margin-top: 3vh;
}
.submit:hover {
    background-color: #0056b3;
}
