<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'CSS/home_page.css' %}">
    <title>CLOUDONSITE</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    
    function redirectToStorage() {
        window.location.href = "{% url 'storage' %}"; // Zmień "adres-docelowej-strony" na adres docelowej strony
    }
</script>
</head>
    <body>
     
    <div class="header">
      <div class="header_logo">
        <img src="{% static 'icons/logo_cos.png' %}" alt="Logo" class="logo"> 
      </div>
      <div class="header_context">
        <a href="{% url 'profile' %}">Moje konto</a> <!-- Zmieniono kolejność linków -->
        <a href="{% url 'logout' %}">Wyloguj</a>
      </div>
    </div>
    
    <div class="content">
      <div class="section" onclick="redirectToStorage()">Storage</div>
      <div class="section">Computing</div>
      <div class="section">Archiving</div>
    </div>
        
    
     
    </body>
