{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLOUDONSITE</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
     <script>
    
    function redirectToSignupPage() {
        window.location.href = "{% url 'register' %}"; // Zmień "adres-docelowej-strony" na adres docelowej strony
    }
</script>
    
</head>
<body>

    <form method="POST" action="." class="login-form spacer" id="signin-form"> 
        <div class="circle-wrapper">
            <img class="cloud-logo" src="{% static 'icons/cloud_logo.png' %}" alt="CloudOnSite Logo">
        <h1 class="cloud-heading">CloudOnSite</h1>
        
    </div>
        {% csrf_token %} 
         
        
            <div class="input-group"> 
                <img class="icon input-icon" src="{% static 'icons/envelope.png' %}" alt=""> 
                {{form.username}} 
            </div> 
            <div class="input-group"> 
                <img class="icon input-icon" src="{% static 'icons/key.png' %}" alt=""> 
                {{form.password}} 
            </div> 
          {% if form.errors %}
        <div class="error-message">
                
            {% for field, error in form.errors.items %}
              {% if field != '__all__' %}{{ field }}{% endif %}
                {{ error | striptags }}
            {% endfor %}
                
            
        </div>
    {% endif %}
  
            <input type="submit" class="submit" value="Login"> 
            <input type="button"  class="submit" value="Signup" onclick="redirectToSignupPage()">
    </form>  

            

</body>
</html>